
@font-face
  font-family fUltraLight
  src url('../_fonts/Robotothin.woff2') format('woff2'), url('../_fonts/Robotothin.woff') format('woff')
  font-weight normal

@font-face
  font-family fRegular
  src url('../_fonts/Roboto.woff2') format('woff2'), url('../_fonts/Roboto.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family fLight
  src url('../_fonts/Robotolight.woff2') format('woff2'), url('../_fonts/Robotolight.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family fBold
  src url('../_fonts/Robotobold.woff2') format('woff2'), url('../_fonts/Robotobold.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family fRub
  src url('../_fonts/alsrubl-verdana-regular.woff') format('woff'), url('../_fonts/alsrubl-verdana-regular.svg#ALSRublRegular') format('svg')
  font-weight normal
  font-style normal