.i-bag
    width 24px
    height 24px
    background-position -32px -50px
.i-heart
    width 24px
    height 22px
    background-position -32px -74px
.i-left-arrow
    width 16px
    height 53px
    background-position 0px -50px
.i-mastercard
    width 49px
    height 29px
    background-position 0px -21px
.i-right-arrow
    width 16px
    height 53px
    background-position -16px -50px
.i-search
    width 22px
    height 22px
    background-position -49px -21px
.i-visa
    width 72px
    height 21px
    background-position 0px 0px
