
$imgSprite = url(../_img/sprite.svg?v=198)

.is-icon
  background-size 100% auto
  background-image $imgSprite

 $is-arrow = 0 0%
 $is-back = 0 3.6649214659685865%
 $is-basket = 0 7.329842931937173%
 $is-check = 0 10.99476439790576%
 $is-cross = 0 14.659685863874346%
 $is-facebook = 0 18.80709296077378%
 $is-facebook-b = 0 25.25523911875336%
 $is-facebook-w = 0 31.70338527673294%
 $is-heart = 0 37.004221608380675%
 $is-instagram = 0 40.83769633507853%
 $is-instagram-b = 0 44.50261780104712%
 $is-instagram-w = 0 48.167539267015705%
 $is-mbasket = 0 51.927616050354054%
 $is-mlike = 0 55.80473557943048%
 $is-msearch = 0 59.68586387434555%
 $is-odnoklassniki = 0 64.64365851052463%
 $is-odnoklassniki-b = 0 70.52035473875414%
 $is-odnoklassniki-w = 0 76.39705096698366%
 $is-play = 0 80.6282722513089%
 $is-search = 0 84.29319371727749%
 $is-vk = 0 89.32369204593789%
 $is-vk-b = 0 94.64057847724372%
 $is-vk-w = 0 99.95746490854955%

.is-icon--arrow
    background-position $is-arrow
.is-icon--back
    background-position $is-back
.is-icon--basket
    background-position $is-basket
.is-icon--check
    background-position $is-check
.is-icon--cross
    background-position $is-cross
.is-icon--facebook
    background-position $is-facebook
.is-icon--facebook-b
    background-position $is-facebook-b
.is-icon--facebook-w
    background-position $is-facebook-w
.is-icon--heart
    background-position $is-heart
.is-icon--instagram
    background-position $is-instagram
.is-icon--instagram-b
    background-position $is-instagram-b
.is-icon--instagram-w
    background-position $is-instagram-w
.is-icon--mbasket
    background-position $is-mbasket
.is-icon--mlike
    background-position $is-mlike
.is-icon--msearch
    background-position $is-msearch
.is-icon--odnoklassniki
    background-position $is-odnoklassniki
.is-icon--odnoklassniki-b
    background-position $is-odnoklassniki-b
.is-icon--odnoklassniki-w
    background-position $is-odnoklassniki-w
.is-icon--play
    background-position $is-play
.is-icon--search
    background-position $is-search
.is-icon--vk
    background-position $is-vk
.is-icon--vk-b
    background-position $is-vk-b
.is-icon--vk-w
    background-position $is-vk-w
