
.breadcrumbs
  margin 30px 0 45px 0

.breadcrumbs__item
  text-decoration none
  letter-spacing .03em
  margin-right 7px
  vertical-align middle

.breadcrumbs__separator
  vertical-align middle
  display inline-block
  color #bebebe
  margin -4px 7px 0 0
  line-height 1em
  font-size 20px
  font-family Tahoma, serif

@media (max-width: desktop)
  .breadcrumbs
    margin-bottom 30px

@media (max-width: tablet)
  .breadcrumbs
    display none
