<div class="content">
    <div class="bottom-section clearfix">
        <div class="bottom-section__col">
            <ul class="bottom-section__menu">
                <li class="bottom-menu__item"><a class="bottom-menu__link" href="#">О компании</a></li>
                <li class="bottom-menu__item"><a class="bottom-menu__link" href="#">Адреса магазинов</a></li>
                <li class="bottom-menu__item"><a class="bottom-menu__link" href="#">Часто задаваемые вопросы</a></li>
                <li class="bottom-menu__item"><a class="bottom-menu__link" href="#">Новости</a></li>
                <li class="bottom-menu__item"><a class="bottom-menu__link" href="#">Акции</a></li>
            </ul>
        </div>
        <div class="bottom-section__col">
            <ul class="bottom-section__menu">
                <li class="bottom-menu__item"><a class="bottom-menu__link" href="#">Центральный офис</a></li>
                <li class="bottom-menu__item"><a class="bottom-menu__link" href="#">Полезные статьи</a></li>
                <li class="bottom-menu__item"><a class="bottom-menu__link" href="#">Отписка от рассылок</a></li>
                <li class="bottom-menu__item"><a class="bottom-menu__link" href="#">Услуги и сервисы</a></li>
                <li class="bottom-menu__item"><a class="bottom-menu__link" href="#">Для корпоративных клиентов</a></li>
            </ul>
        </div>
        <div class="bottom-section__col">
            <ul class="bottom-section__menu">
                <li class="bottom-menu__item"><a class="bottom-menu__link" href="#">Наши партнеры</a></li>
                <li class="bottom-menu__item"><a class="bottom-menu__link" href="#">Вакансии</a></li>
                <li class="bottom-menu__item"><a class="bottom-menu__link" href="#">Реклама</a></li>
                <li class="bottom-menu__item"><a class="bottom-menu__link" href="#">Реквизиты</a></li>
            </ul>
        </div>
        <div class="bottom-section__col bottom-section__col--right">
            <div class="bottom-section__field">
                <span class="bottom-section__lbl">Звонок по России бесплатный</span>
                <a class="bottom-section__call" href="tel:88004002020"><strong>8 800 400 20 20</strong></a>
            </div>
            <div class="bottom-section__field">
                <span class="bottom-section__lbl">Принимаем к оплате</span>
                <i class="bottom-section__pay i-icon i-visa"></i>
                <i class="bottom-section__pay i-icon i-mastercard"></i>
            </div>
        </div>
    </div>
    <footer class="footer">
       <div class="socials">
           <a class="socials__item socials__item--fb" href="#"></a>
           <a class="socials__item socials__item--vk" href="#"></a>
           <a class="socials__item socials__item--ok" href="#"></a>
           <a class="socials__item socials__item--inst" href="#"></a>
       </div>
        <p class="footer__text">
            &copy; Copyright 2016 EFREMOV.RU Интернет-магазин ювелирных изделий «EFREMOV»<br>
            Лицензионное соглашение №3457698089734456
        </p>
        <i class="logo-small footer__logo"></i>
    </footer>
</div>
</div>
<script defer src="/_include/_js/plugins.min.js"></script>
<script defer src="/_include/_js/main.min.js"></script>
</body>
</html>