<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/_include/_css/plugins.min.css">
    <link rel="stylesheet" href="/_include/_css/main.min.css?v1.2">
    <title>test</title>
</head>
<body>
<div class="container container--inner">
    <div class="mobile-toggle mobile-menu">
        <ul class="mobile-toggle mobile-menu__list">
            <li class="mobile-menu__item--main"><a href="#">Новинки</a></li>
            <li class="mobile-menu__item--main"><a href="#">Каталог</a></li>
            <li class="mobile-menu__item--main"><a href="#">Кольца</a></li>
            <li class="mobile-menu__item--main"><a href="#">Серьги</a></li>
            <li class="mobile-menu__item--main"><a href="#">Подвески</a></li>
            <li class="mobile-menu__item--main"><a href="#">Коллекции</a></li>
            <li class="mobile-menu__item--main"><a href="#">Акции и скидки</a></li>
            <li class="mobile-menu__item--call">
                <a href="tel:88004002020"><strong>8 800 400 20 20</strong></a>
            </li>
            <li class="mobile-menu__item--sec"><a href="#">Мир Efremov</a></li>
            <li class="mobile-menu__item--sec"><a href="#">Клуб Efremov</a></li>
            <li class="mobile-menu__item--sec"><a href="#">Где купить?</a></li>
            <li class="mobile-menu__item--sec"><a href="#">Партнерам</a></li>
            <li class="mobile-menu__item--sec"><a href="#">Оплата и доставка</a></li>
            <li class="mobile-menu__item--sec"><a href="#">Войти</a></li>
        </ul>
        <i class="is-icon is-icon--cross mobile-menu__close mobile-menu__handle"></i>
    </div>
    <header class="header">
        <div class="content">
            <div class="header__cols clearfix">
                <div class="h-3-col header__col">
                    <ul class="c-menu c-menu--top">
                        <li class="c-menu__item"><a class="h-link" href="#">Мир Efremov</a></li>
                        <li class="c-menu__item"><a class="h-link" href="#">Клуб Efremov</a></li>
                        <li class="c-menu__item"><a class="h-link" href="#">Войти</a></li>
                    </ul>
                    <a class="header__phone" href="tel:88004002020" title="Позвонить нам"><strong>8 800 400 20 20</strong></a>
                    <a class="d-link header__city" href="#">Костромa</a>
                    <div class="mobile-toggle header__handlers-mobile header__handlers--left">
                        <i class="header__m-handler h-burger mobile-menu__handle"></i>
                        <i class="header__m-handler header__m-handler--search is-icon is-icon--msearch"></i>
                    </div>
                </div>
                <div class="h-3-col header__col">
                    <div class="header__logo"><a href="/"><img src="/_include/_img/logo.png" width="155" height="84" alt=""></a></div>
                </div>
                <div class="h-3-col header__col header__col--right">
                    <ul class="c-menu c-menu--top c-menu--right">
                        <li class="c-menu__item"><a class="h-link" href="#">Где купить?</a></li>
                        <li class="c-menu__item"><a class="h-link" href="#">Партнерам</a></li>
                        <li class="c-menu__item"><a class="h-link" href="#">Оплата и доставка</a></li>
                    </ul>
                    <div class="header__handlers">
                        <div class="header__handler header__handler--search">
                            <form>
                                <input class="header__search-field header__search-field--active" type="search" placeholder="Что искать?" required>
                                <input class="is-icon is-icon--search i-icon--hover header__search-btn" type="submit" value="" title="Поиск">
                            </form>
                        </div>
                        <div class="header__handler" data-value="23"><a class="header__handler-like is-icon is-icon--heart i-icon--hover" href="#" title="Избранное"></a></div>
                        <div class="header__handler" data-value="4"><a class="header__handler-basket is-icon is-icon--basket i-icon--hover" href="#" title="Корзина"></a></div>
                    </div>
                    <div class="mobile-toggle header__handlers-mobile header__handlers--right">
                        <a class="header__m-handler header__m-handler--like is-icon is-icon--mlike" href="#"></a>
                        <a class="header__m-handler header__m-handler--basket is-icon is-icon--mbasket" href="#"></a>
                    </div>
                </div>
            </div>
            <nav class="catalog-menu">
                <ul class="catalog-menu__list">
                    <li class="catalog-menu__item"><a href="#">Новинки</a></li>
                    <li class="catalog-menu__item"><a href="#">Каталог</a></li>
                    <li class="catalog-menu__item"><a href="#">Кольца</a></li>
                    <li class="catalog-menu__item"><a href="#">Серьги</a></li>
                    <li class="catalog-menu__item"><a href="#">Подвески</a></li>
                    <li class="catalog-menu__item"><a href="#">Коллекции</a></li>
                    <li class="catalog-menu__item"><a href="#">Акции и скидки</a></li>
                </ul>
            </nav>
        </div>
    </header>